<div style="background: ghostwhite">
<img src="https://images.adsttc.com/media/images/515f/17b5/b3fc/4b9d/4f00/01de/large_jpg/1.jpg?1365186483" height="800" width="900">
  <p style="text-transform: uppercase; text-align: right; margin-top: -50%; margin-right: 5%;font-size:x-large"> <b>Does this sound familiar to you? </b> </p><br><br><br>
  <p style="text-align: right;margin-right: 3%;" > 1.Do you have to go into every room to check if the windows are closed?</p>
  <p style="text-align: right; margin: 5%; font-size: large">2 When you are not at home, do you feel that you have not <br> turned  off something? <br>
    3 Are you worried that electricity and gas are consumed in full,<br> even when you are not at home?</p>
  <p style="text-align: right; margin-right: 1%">4 A situation often arises when climate systems do not work in concert<br> - underfloor heating and radiators heat the air, the air conditioner continues <br> to cool it, and as a result, it is hot, stuffy or vice versa, cold and damp ... </p>
  <p style="text-align: right; margin: 5%; font-size: large">5 Do you have to go through a bunch of discs or search  the<br> Internet for a long time to find the movie or music you want?<br>
    </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<p style="text-transform: uppercase; text-align: center; font-size: x-large"> </p>
<hr style="width: 1200px">
<div style="display: flex">
<p style="text-align: left; margin-left: 5%">100%
  European quality, a guarantee of a high level of service<br>

</p>
<p style="text-align: center; margin-left: 10%" >More than 20000sq.m
  Total area of work performed<br>

</p>
<p style="text-align: right; margin-left: 10%">Over 30
  World brands in the field of automation<br>

</p>
</div>
